<header>
    <nav>
        <a href="/">Home</a>
        <% if (!user) { %>
            <a href="/users/login">Login</a>
            <a href="/users/register">Register</a>
        <% } else { %>
            <a href="/users/dashboard">Dashboard</a>
            <a href="/auth/logout">Logout</a>
        <% } %>
    </nav>
</header>
