<%- include('../partials/header.ejs', { title: 'Home' }) %>

<h1>Welcome to the Workout Tracker!</h1>
<a href="/auth/register">Register</a>
<a href="/auth/login">Login</a>

<%- include('../partials/footer.ejs') %>
