<%- include("../partials/header.ejs") %>

<h2>Sign up so you can get the most from our app!</h2>
<ul>
    <li><h3>You can save you're previous workouts.</h3></li>
    <li><h3>You can favorite workouts.</h3></li>
    <li><h3>Lastly, you can find diffrant workout's</h3></li>
</ul>

<form method="POST" action="/users">
    <label for="email">EMAIL:</label>
    <input type="email" name="email" id="email" required/>

    <label for="password">PASSWORD:</label>
    <input type="password" name="password" id="password" required />

    <button type="submit">Sign Up!</button>
</form>

<%- include('../partials/footer.ejs') %>