<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <%- include ('../partials/header') %>
    
    <h1>Sign Up</h1>
    <form id="register-form" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <label for="password2">Confirm Password:</label>
        <input type="password" name="password2" id="password2" required>
        <br>
        <button type="submit">Sign Up</button>
    </form>
    
    <%- include ('../partials/footer') %>

    <p id="error-message" style="color: red;"></p>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
          document.getElementById('register-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const formData = new FormData(event.target);
            const response = await fetch('/register', {
              method: 'POST',
              body: formData,
            });
      
            if (response.ok) {
              window.location.href = '/users/workouts';
            } else {
              const errorMessageElement = document.getElementById('error-message');
              errorMessageElement.textContent = 'Unable to create an account. Please try again.';
            }
          });
        });
      </script>
      
      
      
</body>
</html>